dataPlotter==0.0.16
h5py==3.12.1
imbalanced_learn==0.13.0
imblearn==0.0
matplotlib==3.10.3
numpy==2.2.6
pandas==2.2.3
scikit_learn==1.6.1
seaborn==0.13.2
tensorflow==2.18.0
tqdm==4.67.1
wfdb==4.3.0
xarray==2025.1.2